@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");

/*setting light and dark mode colors*/
:root {
  --width-global: min(38.57143rem, 87.2vw);
  --color-active: hsl(220, 98%, 61%);
  --gradient-checkbox: hsl(192, 100%, 67%), hsl(280, 87%, 65%);
  --color-logo: hsla(0, 0%, 100%, 1);
  /* dynamic colors */
  --color-crossed-text: hsla(233, 11%, 84%, 1);
  --color-text: hsl(236, 9%, 61%);
  --color-background: hsl(0, 0%, 98%);
  --color-blocks-background: hsla(0, 0%, 100%, 1);
  --color-text-todos: hsl(235, 19%, 35%);
  --color-text-hover: hsl(235, 19%, 35%);
  --color-border-task: hsla(236, 32%, 92%, 1);
  --color-block-shadow: rgba(194, 195, 214, 0.5);
  --color-placeholder: hsla(233, 11%, 84%, 1);
  --img-background-mobile: url(images/bg-mobile-light.jpg);
  --img-background-desktop: url(images/bg-desktop-light.jpg);
  --img-mode-toggler: url(images/icon-moon.svg);
}

.darkmode {
  --color-crossed-text: hsla(233, 14%, 35%, 1);
  --color-text: hsla(235, 16%, 42%, 1);
  --color-background: hsl(235, 21%, 11%);
  --color-blocks-background: hsl(235, 24%, 19%);
  --color-text-todos: hsla(235, 39%, 85%, 1);
  --color-text-hover: hsla(236, 32%, 92%, 1);
  --color-border-task: hsla(237, 14%, 26%, 1);
  --color-block-shadow: rgba(0, 0, 0, 0.5);
  --color-placeholder: hsla(237, 14%, 26%, 1);
  --img-background-mobile: url(images/bg-mobile-dark.jpg);
  --img-background-desktop: url(images/bg-desktop-dark.jpg);
  --img-mode-toggler: url(images/icon-sun.svg);
}

/* RESET CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
/* a:visited {
  color: inherit;
} */
ul {
  list-style: none;
}

/* main part */
html {
  font-size: 75%;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background: top center no-repeat var(--img-background-mobile),
    var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-text);
}
/* Top part */
header {
  min-width: var(--width-global);
  display: flex;
  justify-content: space-between;
  margin: 4em 0rem 2.75em;
}

#logo {
  color: var(--color-logo);
  font-weight: 600;
  letter-spacing: 0.4em;
  font-size: 2.2rem;
}

.mode-link {
  background-image: var(--img-mode-toggler);
  background-size: contain;
  width: 1.60975rem;
  height: 1.66667rem;
}

/* main part */
main {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
.content-block {
  background-color: var(--color-blocks-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.41667rem;
  box-shadow: 0px 35px 50px -15px var(--color-block-shadow);
}

/* Input feild */
#input {
  min-width: var(--width-global);
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.33rem;
  padding: 1.17rem 1.67rem;
}
#new-todo-btn {
  cursor: pointer;
  width: 1.66667rem;
  height: 1.66667rem;
  border-radius: 50%;
  background: linear-gradient(
        var(--color-blocks-background),
        var(--color-blocks-background)
      )
      padding-box,
    linear-gradient(var(--gradient-checkbox)) border-box;
  border: 1px solid transparent;
}
#new-todo-text {
  border: none;
  flex: 1 1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.01392rem;
  color: var(--color-text-todos);
  background-color: transparent;
}
#new-todo-text:focus {
  outline: none;
}
#new-todo-text::placeholder {
  color: var(--color-text);
}
/* Todos Feild */
.main-feild {
  letter-spacing: -0.01392rem;
  color: var(--color-text-todos);
  border-radius: 0.41667rem 0.41667rem 0 0;
}
.task-left {
  display: flex;
  gap: 1rem;
}
.task-text {
  position: relative;
  top: 0.3rem;
}
.task-text__checked {
  color: var(--color-crossed-text);
  text-decoration: line-through;
}
.delete-todo-link {
  position: relative;
  top: 0.2rem;
}
.close-icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
/* Tasks */
.task-container {
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.33rem 1.67rem;
  width: 100%;
  border-bottom: 1px solid var(--color-border-task);
}
/* Drag and drop styles */
.task-container__placeholder {
  background-color: var(--color-placeholder);
  height: 2.57rem;
  margin: 1rem;
  border-radius: 0.41667rem;
}

.dragged {
  opacity: 1;
}

/* checkboxes */

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 0.1rem;
  width: 1.66667rem;
  height: 1.66667rem;
  border-radius: 50%;
  background: linear-gradient(
        var(--color-blocks-background),
        var(--color-blocks-background)
      )
      padding-box,
    linear-gradient(var(--gradient-checkbox)) border-box;
  border: 1px solid transparent;
}
input[type="checkbox"]:checked::before {
  content: url(images/icon-check.svg);
  background: linear-gradient(var(--gradient-checkbox));
  border: 0px solid transparent;
}

/* Bottom part with todos sorter and counter */
.bottom-menu-container {
  min-width: var(--width-global);
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1.33em;
}
#clear-counter-wrapper {
  grid-area: 1 / 1 / 1 / 4;
  border-radius: 0 0 0.41667rem 0.41667rem;
}
#counter {
  grid-area: 1 / 1 / 2 / 2;
  padding: 1.4rem 1.6rem 1.6rem;
  letter-spacing: -0.01392rem;
}

#clear-btn {
  grid-area: 1 / 3 / 2 / 4;
  padding: 1.4rem 1.6rem 1.6rem;
  letter-spacing: -0.01392rem;
}
#toggle-container {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.58333rem;
  /* padding: 1.4rem 0rem 1.6rem; */
}
.toggle-btn {
  font-size: 1.16667rem;
  font-weight: 700;
  letter-spacing: -0.01617rem;
}
.toggle-btn__active {
  color: var(--color-active);
}
/* Help information text on the bottom */
#help-sign {
  margin: 3.35rem 0rem;
  font-size: 1.16667rem;
  letter-spacing: -0.01617rem;
}
/* Attribution */
.attribution_link,
.attribution_link:visited {
  color: var(--color-text-todos);
}
/* Media queries */

/* change behavior for hover devises */

@media (any-hover: hover) {
  a:hover,
  :focus-visible {
    color: var(--color-text-hover);
  }
  .checkbox {
    opacity: 0.6;
  }
  .checkbox:hover,
  :focus,
  .checkbox:checked {
    opacity: 1;
  }
  .task-left:hover,
  :focus {
    cursor: pointer;
  }
  .delete-todo-link {
    display: none;
  }
  .task-container:hover .delete-todo-link {
    display: block;
  }
}

/* for dimentions */

@media only screen and (min-width: 376px) {
  body {
    background: top center no-repeat var(--img-background-desktop),
      var(--color-background);
  }
}

@media only screen and (min-width: 650px) {
  html {
    font-size: 87.5%;
  }
  header {
    margin: 5.3em 0rem 2.56em;
  }
  #logo {
    font-size: 2.85714rem;
    letter-spacing: 1.07143rem;
  }
  .mode-link {
    position: relative;
    top: 0.5em;
    width: 1.79379rem;
    height: 1.85714rem;
  }
  #input {
    gap: 1.66rem;
    margin-bottom: 1.71rem;
    padding: 1.44rem 1.74rem;
  }

  /* .main-feild {
    padding-top: 0.5rem;
  } */

  .task-container {
    padding: 1.41rem 1.71rem;
  }

  .task-left {
    gap: 1.71rem;
  }

  .task-text,
  #new-todo-text,
  #new-todo-text::placeholder {
    font-size: 1.28571rem;
    letter-spacing: -0.01786rem;
  }
  #new-todo-btn,
  input[type="checkbox"]::before {
    width: 1.71429rem;
    height: 1.71429rem;
  }

  .bottom-menu-container {
    grid-template-rows: none;
  }

  #toggle-container {
    grid-area: 1/2/2/3;
    padding-left: 2.9rem;
    gap: 1.38rem;
    box-shadow: none;
  }

  .toggle-btn {
    font-size: 1rem;
  }

  #help-sign {
    font-size: 1rem;
    letter-spacing: -0.01386rem;
  }
}
